@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {margin: 0; padding: 0; font-family: 'Roboto';}


/* General */
.container-general {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg, rgba(46,33,173,1) 20%, rgba(222,72,159,1) 100%);
}

/* Header */
header {
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

header h1 {color: white;}


/* To do List */
.to-do-list-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.to-do-list-add {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 40px;
}

.to-do-list-add input {
    width: 100%;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
}

.to-do-list-add input:focus {
    outline: none !important;
    box-shadow: none;
 }

.to-do-list-add button {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 3px 20px;
    border-radius: 4px;
}

.to-do-list {
    display: none;
    height: 100%;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 5vh;
}

.task {
    align-items: center;
    justify-content: center;
}

.task-title {
    display: flex;
    align-items: center;
}

.task-title i {
    padding: 0px 10px; 
    font-size: 8px;
}

.task-title h5 {
    margin: 0;
    padding: 0;
}

.task-icos button {width: 100%;}
.task-icos button i {font-size: 24px; color: red;}